<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lilysamimi.famcamproject" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="FamCam" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".AddFamily"
            android:label="@string/title_activity_add_family" >
        </activity>
        <activity
            android:name=".AddFamilyMembers"
            android:label="Add Your Family" >
        </activity>
        <activity
            android:name=".NewUserLogin"
            android:label="New User Registration" >
        </activity>
        <activity
            android:name=".MyFamily"
            android:label="@string/title_activity_my_family" >
        </activity>
        <activity
            android:name=".profile"
            android:label="My Profile" >
        </activity>
        <activity
            android:name=".select_family"
            android:label="@string/title_activity_select_family" >
        </activity>
        <activity
            android:name=".Member1"
            android:label="@string/title_activity_member1" >
        </activity>
        <activity
            android:name=".AddFamilyMembersAddressBook"
            android:label="Add Your Family" >
        </activity>
        <activity
            android:name=".MakeProfile"
            android:label="Create Profile" >
        </activity>
        <activity
            android:name=".FamilyDetailActivity"
            android:label="@string/title_activity_family_detail" >
        </activity>
        <activity
            android:name=".FamilyDetailsActivity"
            android:label="@string/title_activity_family_details" >
        </activity>
        <activity
            android:name=".ListviewMyFamily"
            android:label="Home" >
        </activity>
        <activity
            android:name=".ListviewFamilyDetail"
            android:label="@string/title_activity_listview_family_detail" >
        </activity>
        <activity
            android:name=".dialogFragment"
            android:label="@string/title_activity_dialog_fragment" >
        </activity>
        <activity
            android:name=".dialogFragment1"
            android:label="@string/title_activity_dialog_fragment1" >
        </activity>
        <activity
            android:name=".ChildrenProfile"
            android:label="My Profile" >
        </activity>
    </application>

</manifest>
